<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Счет матча - Теннисное табло</title>
    <link rel="stylesheet" href="/static/css/styles.css">  </head>
<body>
    <header>
        <h1>Теннисное табло</h1>
    </header>
    <main>
        <nav>
            <ul>
                <li><a href="new_match.html">Создать новый матч</a></li>
                <li><a href="finished_matches.html">Список завершенных матчей</a></li>
            </ul>
        </nav>
    </main>
    <footer>
        <p>&copy; 2025 Табло теннисного матча</p>
    </footer>
</body>
</html>