<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый матч - Теннисное табло</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header>
        <h1>Новый матч</h1>
    </header>
    <main>
        <form method="post" action="/new-match">
            <label for="player1_name">Имя игрока 1:</label><br>
            <input type="text" id="player1_name" name="player1_name" required><br><br>

            <label for="player2_name">Имя игрока 2:</label><br>
            <input type="text" id="player2_name" name="player2_name" required><br><br>

            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">  <!-- CSRF-защита -->

            <input type="submit" value="Создать матч" class="button">
        </form>
    </main>
    <footer>
        <p>&copy; 2025 Табло теннисного матча</p>
    </footer>
</body>
</html>